<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<!--引入通用JS、css资源-->
<div th:replace="common/staticImport :: common_resource"></div>
<script type="text/javascript">

    toastr.options = {
        closeButton: false,
        debug: false,
        progressBar: true,
        positionClass: "toast-top-center ",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

</script>
    <body class="gray-bg">
<div class="row">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper wrapper-content animated fadeInRight">

                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            <div class="pull-left m-r-md">
                                <i class="fa fa-globe text-navy mid-icon"></i>
                            </div>
                            <h2>欢迎来到讨论区</h2>
                            <span>你可以自由选择你感兴趣的话题。</span>
                            <div class="ibox-tools">
                                <a title="发布" data-toggle='modal' data-target='#myModal5' class="btn btn-primary btn-xs" >我要发布</a>
                            </div>
                        </div>
                    </div>

                    <div class="ibox-content forum-container" id="parentTest">

                        <div class="forum-title">
                            <div class="pull-right forum-desc">
                                <samll >总帖子数： </samll>
                                <small id="sumpost"> </small>
                            </div>
                            <h3>全部话题</h3>
                        </div>
                          <!--话题填充位置-->

                        </div>

                        <div class="forum-title">
                            <h3>精选热帖</h3>
                        </div>

                        <div class="ibox-content forum-container" id="Parentform">

                            <!--精选帖子填充位置-->
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>






<!--弹窗布局开始-->
<div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
<div class="modal-content">
    <div class="mail-box-header">
        <h2>
            我要发布
        </h2>
    </div>
    <div class="mail-box">



        <div class="mail-body">

            <form class="form-horizontal" method="get">
                <div class="form-group">
                    <label class="col-sm-2 control-label">文章标题：</label>

                    <div class="col-sm-10">
                        <input type="text" id="postTitle" class="form-control" placeholder="一句话说明你遇到的问题或想分享的经验">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所属话题：</label>
                    <div class="col-sm-10">
                        <select id="TopicSubject"  width="100%">
                            <option value="-1">请选择话题</option>
                        </select>
                    </div>
                </div>
            </form>

        </div>
        <h2>文章内容</h2>
        <div class="mail-text h-200">

            <div class="summernote" id="content">

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mail-body text-right tooltip-demo">
            <button type="button" class="btn btn-primary" onclick="AddTopic()"><i class="fa fa-reply"></i> 发布</button>
            <button type="button" class="btn btn-white" id="closeFileInfoDialog" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
        </div>
    </div>

    </div>
</div>

</div>
<!-- 全局js -->
<!--<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->

<!-- 自定义js -->
<script type="text/javascript" th:src="@{/js/OJ/other/bbs.js}"></script>

<script type="text/javascript" th:src="@{/js/plugins/summernote/summernote.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/summernote/summernote-zh-CN.js}"></script>


</body>
</html>