<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<!--引入通用JS、css资源-->
<div th:replace="common/staticImport :: common_resource"></div>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>考试信息</h3>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 droppable sortable ui-droppable ui-sortable">
                                <div class="form-group draggable ui-draggable dropped">
                                    <label class="col-sm-4 control-label">考试名称：</label>
                                    <div class="col-sm-7">
                                        <input id="testName" type="text" class="form-control" placeholder="请输入考试名">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 droppable sortable ui-droppable ui-sortable">
                                <div class="form-group draggable ui-draggable dropped">
                                    <label class="col-sm-4 control-label">开始时间：</label>
                                    <div class="col-sm-7">
                                        <input id="testStartTime" readonly type="text" class="form-control layer-date" placeholder="" style="cursor:pointer">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 droppable sortable ui-droppable ui-sortable">
                                <div class="form-group draggable ui-draggable dropped">
                                    <label class="col-sm-4 control-label">结束时间：</label>
                                    <div class="col-sm-7">
                                        <input id="testEndTime" readonly type="text" class="form-control layer-date" placeholder="" style="cursor:pointer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 droppable sortable ui-droppable ui-sortable">
                                <div class="form-group draggable ui-draggable dropped">
                                    <label class="col-sm-4 control-label">描述：</label>
                                    <div class="col-sm-7">
                                        <div class="ibox-content no-padding" style="width: 900px;">
                                            <div class="summernote" id="testDesc">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>待选择题目列表</h3>
                </div>
                <div class="ibox-content">
                    <div class="row" style="height: 400px;">
                        <div class="col-sm-12">
                            <table id="preSelectQuestionTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="15%">题目ID</th>
                                    <th width="55%">题目名</th>
                                    <th width="15%">是否公开</th>
                                    <th width="15%">选择</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>已选择题目列表</h3>
                </div>
                <div class="ibox-content">
                    <div class="row" style="height: 400px;">
                        <div class="col-sm-12">
                            <table id = "selectedQuestionTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="15%">题目ID</th>
                                    <th width="60%">题目名</th>
                                    <th width="15%">分数(百分制)</th>
                                    <th width="10%">删除</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>待选择班级列表</h3>
                </div>
                <div class="ibox-content">
                    <div class="row" style="height: 400px;">
                        <div class="col-sm-12">
                            <table id="preSelectClassTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="70%">班级</th>
                                    <th width="30%">选择</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>已选择班级列表</h3>
                </div>
                <div class="ibox-content">
                    <div class="row" style="height: 400px;">
                        <div class="col-sm-12">
                            <table id = "selectedClassTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="70%">班级</th>
                                    <th width="30%">删除</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>登录控制</h3>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 droppable sortable ui-droppable ui-sortable">
                                <div class="form-group draggable ui-draggable dropped">
                                    <label class="col-sm-4 control-label">禁止多机登录：</label>
                                    <input type="checkbox" name="only_ip" checked="checked" style="margin-top: 9px;">
                                </div>
                            </div>

                            <div class="col-md-4 droppable sortable ui-droppable ui-sortable">
                                <div class="form-group draggable ui-draggable dropped">
                                    <label class="col-sm-5  control-label">限制允许登录机房：</label>
                                    <input type="checkbox" name="is_ip" checked="checked" style="margin-top: 9px;">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>待选择机房列表</h3>
                </div>
                <div class="ibox-content">
                    <div class="rotestDescw" style="height: 400px;">
                        <div class="col-sm-12">
                            <table id="preSelectJroomTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="70%">地点</th>
                                    <th width="20%">IP段</th>
                                    <th width="10%">选择</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>已选择机房列表</h3>
                </div>
                <div class="ibox-content">
                    <div class="row" style="height: 400px;">
                        <div class="col-sm-12">
                            <table id = "selectedJroomTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="70%">地点</th>
                                    <th width="20%">IP段</th>
                                    <th width="10%">删除</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:right;">
        <button onClick="javascript :history.back(-1);" type="button" class="btn btn-primary">
            取 消
        </button>
        <button  type="button" class="btn btn-primary" style="width: 150px;" onClick="saveOrUpdateTest()">
            保 存
        </button>
    </div>
</div>
<script th:inline="javascript">
    var testInfo = [[${info}]];
    console.log(testInfo);
</script>
<script type="text/javascript" th:src="@{/js/OJ/exam/copyTest.js}"></script>
</body>

</html>