<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<!--引入通用JS、css资源-->
<div th:replace="common/staticImport :: common_resource"></div>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 id="resultTitle">相似结果列表</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <table id = "resultTable" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th width="10%">ID</th>
                            <th width="10%">题号</th>
                            <th width="10%">学号</th>
                            <th width="15%">姓名</th>
                            <th width="10%">班级</th>
                            <th width="10%">学号</th>
                            <th width="15%">姓名</th>
                            <th width="10%">班级</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--弹窗布局 -->
<div class="modal inmodal fade" id="courseListDialog" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="dialogTitle"></h4>
            </div>
            <div class="row" >
                <div class="col-sm-6" width="50%">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>抄袭者 </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>班级:</label>
                                            <span id="CopyclassName" style="font-size:15px; color:#cda15a; ">没得名字</span>
                                        </div>
                                        <div class="form-group">
                                            <label>姓名:</label>
                                            <span id="CopyName" style="font-size:15px; color:#cda15a; ">没得名字</span>
                                        </div>
                                        <div class="form-group">
                                            <label>学号:</label>
                                            <span id="CopyAccount" style="font-size:15px; color:#cda15a; ">没得名字</span>
                                        </div>
                                        <div class="form-group">
                                            <label>题目:</label>
                                            <span id="proID" style="font-size:15px; color:#cda15a; ">没得名字</span>
                                        </div>
                                        <div class="form-group">
                                            <label>状态:</label>
                                            <span id="state" style="font-size:15px; color:#cda15a; ">Accept</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <span>代码</span>
                                <div class="col-sm-12">
                                  <input width="1000px" height="2000px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" width="50%">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>被抄袭者</h5>
                        </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>班级：</label>
                                                <span id="CopyedclassName" style="font-size:15px; color:#cda15a; ">没得名字</span>
                                            </div>
                                            <div class="form-group">
                                                <label>姓名：</label>
                                                <span id="CopyedName" style="font-size:15px; color:#cda15a; ">没得名字</span>
                                            </div>
                                            <div class="form-group">
                                                <label>学号：</label>
                                                <span id="CopyedAccount" style="font-size:15px; color:#cda15a; ">没得名字</span>
                                            </div>
                                            <div class="form-group">
                                                <label>题目：</label>
                                                <span id="proID1" style="font-size:15px; color:#cda15a; ">没得名字</span>
                                            </div>
                                            <div class="form-group">
                                                <label>状态：</label>
                                                <span id="state1" style="font-size:15px; color:#cda15a; ">Accept</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <span>代码</span>
                                    <div class="col-sm-12">
                                        <input width="1000px" height="2000px">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/OJ/exam/similarityUser.js}"></script>
</body>

</html>